/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.bar {
  position: relative;
  /* top: 0; */
  display: flex;
  justify-content: center;
  background-color: #006491;
  padding: 20px;
  box-shadow: 0px 5px 5px rgba(134, 128, 128, 0.753);

}
.bar div {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid #000; */
  width: 80%;
  position: sticky;
}
.grid-container {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  height: 550px;
  /* border: 1px solid #000; */

  /* box-shadow: 0px 2px 2px rgba(0,0,0,0.2); */
  box-shadow: 0px 5px 5px rgba(134, 128, 128, 0.753);
}

.grid-container section {
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(tests.jpg);
  background-size: cover;
  background-clip: content-box;
  /* background-color: #e9e9e9; */
  border: 1px solid #f9f9f9;
  
}
/* 
.grid-container section img {
  position: relative;
  width: 25%;
  object-fit: cover;
} */

.grid-container section h2:hover{
  color: #000;
  /* font-size: 3rem; */


}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1em #c1e205ea);
}
.logo2:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1em #fffffff8);
}

div span {
  color: #006491;
}

.footer {
  height: 200px;
  /* border: 1px solid #000; */
  position: relative;
  width: 100%;
}
.foot {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: #006491;
  margin-top: 80px;
}